* {
  box-sizing: border-box;
}

body {
  font-family: Roboto,sans-serif;
  background-color: white;
}

.container {
  background-color: white;
  min-height: 100%;
  margin: 0 auto;
  width: 50rem;
  justify-content: center;
}


/* typography */

html {
  font-size: 10px;
}

hr {
  margin-top: 2em;
  margin-bottom: 2em;
}

p {
  font-family: Roboto;
  font-size: 1.5rem;
  line-height: 1.3;
  margin-top: 1rem;
}

h1 {
  font-family: Fugaz One,cursive;
  font-size: 2.5rem;
  padding-bottom: 1rem ;
}


h1.intro{
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-family: Inconsolata;
  text-align: center;
}

h3 {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* about page bio image */


img.kayla-razavi {
  width: 70%;
  margin: 0 auto;
  justify-content: center;
}

/* smartcookie case study images */

img.smartcookie-mockup {
  width: 100%;
}

img.smartcookie-graph, img.stem-persona, img.la-persona, img.sc-user-stories, img.sc-mindmap, img.sc-logo-sketch, img.sc-lowfidelity, img.sc-highfidelity {
  width: inherit;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* featured project tiles */

.featuredProjects {
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.project-cell {
  margin: 0 auto;
}

/* section styling / structure */

section {
  margin: 1%;
  width: 48;
  justify-content: center;
  text-align: center;
}

footer {
  justify-content: center;
  text-align: center;
  position: absolute;
  width: 100%;
  padding-top: 2em;
}
